/**
 * START --- TAILWIND GENERATOR EDIT
 *
 * `yarn rw setup tailwind` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#add-tailwind-to-your-css
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/**
 * END --- TAILWIND GENERATOR EDIT
 */
button, input, label, textarea {
  display: block;
  outline: none;
}

label {
  margin-top: 1rem;
}

.error {
  color: red;
}

input.error, textarea.error {
  border: 1px solid red;
}

#video {
  z-index: -10;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#video + button {
  transform: translate(-50%, -50%);
}

canvas {
  margin: auto;
}

.chart-container {
  height: 40vh;
}

#btn:hover span {
  color: transparent;
}

#btn {
  position: relative;
  top: 45vh;
  transform: translateY(-50%);
}

.chevronright {
  position: absolute;
  color: transparent
}

@keyframes moveRight {
  from {left: 0px; opacity: 0}
  to {left: 80%; opacity: 1}
}

#btn:hover .chevronright:nth-child(1) {
  color: #808080;
  animation: moveRight 1s infinite;
}

/* #money:hover {
  transition: all ease-in-out 0.6s;
  transform: rotateY(180deg);
  color: gold;
  cursor: pointer
} */

#money {
  transition: all 0.6s;
  color: gold;
  animation: spinning 1s infinite;
}

@keyframes spinning {
  from {transform: rotateY(0deg)}
  to {transform: rotateY(360deg)}
}

.love {
  font-family: 'Bilbo', cursive;
}

.carousel {
  width: 260px;
}

.allTags {
  width: 9999px;
}
